{% extends './base.html' %}
{% block title %}Edicion de Cursos{% endblock%}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
              <form action="/editarCurso/" method="POST">{% csrf_token %}
                <div class="form-group py-2">
                    <input type="text" id="txtCOD" name="txtCOD" class="form-control" value="{{curso.codigo}}"
                    placeholder="Código" minlength="6" maxlength="6" readonly required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtNOM" name="txtNOM" class="form-control" value="{{curso.nombre}}"
                    placeholder="Nombre" maxlength="50" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtCRED" name="txtCRED" class="form-control" value="{{curso.creditos}}"
                    min="1" max="9" value="1" required>
                </div>
                <div class="form-group py-2">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success btn-primary" type="submit">Guardar</button>
                      </div>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}